img {
  width: 400px;
}
.poke-card {
  background-color: rgb(61, 61, 61);
  margin: 10px;
  font-size: 40px;
  border-radius: 5px;
}

.poke-list {
  display: flex;
  overflow-x: auto;
  margin: 40px;
}
